<div class="d-flex flex-column" style="min-height: 100vh; background-color: #D1E9F6;">
  <div class="side-bar-item">
   <ul>
    <!-- <li routerLinkActive="active" routerLink="reset-password">Reset Password</li> -->
    <li routerLinkActive="active" routerLink="ref-doctor">Ref Doctor List</li>
    <!-- <li routerLinkActive="active" routerLink="list/path-test">Path Test List</li> -->
    <!-- <li routerLinkActive="active" routerLink="list/bill-charges">Bill Charges List</li> -->
    <!-- <li routerLinkActive="active" routerLink="list/user">User List</li> -->
    <!-- <li routerLinkActive="active" routerLink="list/patient">Patient List</li> -->
    <li routerLinkActive="active" routerLink="app-version">App Version</li>
   </ul>
  </div>
</div>
