<ng-container *ngIf="validPlatform('mac') || validPlatform('window')">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column p-2" style="width: 20%;">
      <div class="mt-1">
        <p-panelMenu [model]="items" styleClass="w-full md:w-20rem" />
      </div>
      <div class="mt-4">
        <p-panelMenu [model]="items1" styleClass="w-full md:w-20rem" />
      </div>
      <div class="mt-4">
        <p-panelMenu [model]="items2" styleClass="w-full md:w-20rem" />
      </div>
    </div>
    <div class="d-flex flex-column" style="width: 80%;">
      <div class="d-flex flex-row justify-content-between p-2 w-100">
        <div class="d-flex flex-row align-items-end gap-1">
          <div class="d-flex flex-column">
            <small><strong>From</strong></small>
            <input type="date" name="" id="" class="form-control form-control-sm" [(ngModel)]="fromDate">
          </div>
          <div class="d-flex flex-column">
            <small><strong>To</strong></small>
            <input type="date" name="" id="" class="form-control form-control-sm" [(ngModel)]="toDate">
          </div>
          <div class="d-flex flex-column align-items-end ">
            <button type="button" class="btn btn-sm btn-primary"
              (click)="loadReportCollectionBySelectedSubMenuQuery()"><strong>Search</strong></button>
          </div>
        </div>
        <div class="d-flex flex-row align-items-end gap-1">
          <div class="d-flex flex-column" *ngIf="filterColumnNameList.length">
            <small><strong>Filter Column</strong></small>
            <select name="" id="" class="form-select form-select-sm">
              <option value="{{column.columnValue}}" *ngFor="let column of filterColumnNameList">{{column.columnName}}
              </option>
            </select>
          </div>
          <!-- <div class="d-flex flex-column">
            <small><strong>To</strong></small>
            <input type="date" name="" id="" class="form-control form-control-sm" [(ngModel)]="toDate">
          </div>
          <div class="d-flex flex-column align-items-end ">
            <button type="button" class="btn btn-sm btn-primary"
              (click)="loadReportCollectionBySelectedSubMenuQuery()"><strong>Search</strong></button>
          </div> -->
        </div>
        <div class="d-flex flex-row align-items-end gap-1">
          <div class="">
            <button type="button" class="btn btn-sm shadow-lg btn-success"><strong><i class="bi bi-download"></i>
                Download</strong></button>
          </div>
          <div class="">
            <button type="button" class="btn btn-sm shadow-lg btn-success"><strong><i
                  class="bi bi-file-arrow-up-fill"></i> Export</strong></button>
          </div>
          <div class="">
            <button type="button" class="btn btn-sm shadow-lg btn-info"><strong><i class="bi bi-printer-fill"></i>
                Print</strong></button>
          </div>
          <div class="">
            <button type="button" class="btn btn-sm shadow-lg btn-secondary"
              (click)="showReportCollectionSettingComponent()"><strong><i class="bi bi-gear-fill"></i></strong></button>
          </div>
        </div>
      </div>
      <div class="overflow-auto" style="max-height: 85dvh;" *ngIf="reportItemList.length">
        <table class="table position-relative">
          <thead style="position: sticky; top:0;">
            <tr>
              <th *ngFor="let head of reportItemList[0] | keyvalue">{{head.key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let body of reportItemList">
              <ng-container *ngFor="let key of body | keyvalue">
                <td>{{key.value}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80dvh;">
    <div class="text-center">
      <img [src]="commingSoon" height="100px" alt="" srcset="">
      <h6>Feature is in development</h6>
      <strong style="color: red;">Comming Soon!</strong>
    </div>
  </div>
</ng-container>
