<ng-container>
  <div class="bg-app-img">

    <div class="container-fluid m-0 p-0" style="height: 97vh; width: 99vw;">
      <!-- <div class="d-flex justify-content-center align-items-center h-100 w-100"> -->
      <div class="d-flex flex-column h-100">
        <div class="d-flex flex-row" style="min-height: 100dvh;">
          <div class="d-flex justify-content-center align-items-center h-100" pTooltip="Go to IPD" (click)="route('ipd')"
            style="min-height: 100%; min-width: 50%; position: relative; cursor: pointer; z-index: 10;" routerLink="./../../feature/ipd">
            <div class="ipd-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>IPD</strong></h3>
          </div>
          <div class="d-flex justify-content-center align-items-center h-100" pTooltip="Go to OPD"  (click)="route('opd')"
            style="min-height: 100%; min-width: 50%; position: relative; cursor: pointer; z-index: 10;" routerLink="./../../feature/opd">
            <div class="opd-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>OPD</strong></h3>
          </div>
        </div>
        <!-- <div class="h-100"> -->
        <div class="row w-100">
          <!-- <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3" routerLink="./../../feature/ipd">
            <div
              class="card hover-effect rounded-5 shadow-8 mb-3 d-flex justify-content-center align-items-center h-100"
              style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
              <div class="ipd-card-img"></div>
              <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>IPD</strong></h3>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3" routerLink="./../../feature/opd">
            <div
              class="card hover-effect rounded-5 shadow-8 mb-3 d-flex justify-content-center align-items-center h-100"
              style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
              <div class="opd-card-img"></div>
              <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>OPD</strong></h3>
            </div>
          </div> -->
          <!-- <div class="col-6 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card hover-effect rounded-5 shadow-8 mb-3 d-flex justify-content-center align-items-center h-100"
            style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
            <div class="ot-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>OT</strong></h3>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card hover-effect rounded-5 shadow-8 mb-3 d-flex justify-content-center align-items-center h-100"
            style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
            <div class="reception-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>Reception</strong></h3>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card hover-effect rounded-5 shadow-8  mb-3 d-flex justify-content-center align-items-center h-100"
            style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
            <div class="path-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>Pathalogy</strong></h3>
          </div>
        </div>
        <div class="col-6  col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card hover-effect rounded-5 shadow-8  mb-3 d-flex justify-content-center align-items-center h-100"
            style="min-height: 250px; min-width: 150px; position: relative;   border: 2px solid transparent;">
            <div class="wc-card-img"></div>
            <h3 style="position: absolute;" class="p-3 rounded-4 title-bg"><strong>Wealth Check</strong></h3>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</ng-container>


