<div class="d-flex justify-content-center align-items-center h-100"
  [style]="{'min-width':screenHW.width+'px', 'max-width':screenHW.width+'px', 'min-height':screenHW.height+'px', 'max-height':screenHW.height+'px'}">
  <ng-container>
    <div class="card border-0 shadow-lg p-3">

      <div class="d-flex flex-row gap-1">
        <div class="p-5">
          <img src="assets/images/reset-password-image.gif" height="250px" width="250px" alt="" srcset="">
        </div>
        <div class="">
          <div class="text-center ">
            <h3>Reset Password</h3>
          </div>

          <div class="d-flex flex-column align-content-between gap-4 p-2 h-100">

            <div class="d-flex flex-column mt-5">
              <strong>Registered Contact No?</strong>
              <div class="d-flex flex-row gap-2">
                <input type="text" class="form-control" placeholder="Enter your contact no" value="+91" style="width: 20% !important;" disabled>
                <input #userContactNo type="number" class="form-control" placeholder="Enter your contact no" style="width: 80% !important;" minlength="10" maxlength="10" [(ngModel)]="whatsAppAlertMsg.MobileNo">
              </div>
              <small style="color: red;">
                Only enter registered contact no, for OTP authentication.
              </small>
            </div>

            <button type="button" class="btn btn-success" (click)="loadUserDetailByContactNo(userContactNo.value.toString())">
              Send OTP
            </button>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</div>
