:host ::ng-deep .p-element {
  width: 100% !important;
}

.bg-image {
  /* background-image: url('./../../../../../assets/images/hospital_default.webp'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
  /* z-index: -1; */
}

.card {
  filter: blur(0px) !important;
  z-index: 10;
}

.border-custom {
  border-bottom-left-radius: 50px !important;
  /* padding-top: 2%; */
  padding-left: 10%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.border-custom-login-card {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

:host ::ng-deep .p-dropdown {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown .p-inputtext {
  width: 100% !important;
}

:host ::ng-deep .p-dropdown-trigger {
  display: block;
  justify-content: end;
  align-items: end;
}


.cover-photo {
  background-image: url('./../../../../../assets/hospital-image/bg-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  min-width: 100dvw;
  /* filter: blur(2px); */
  /* z-index: -1; */
}

.main {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}


.element {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.btn-element {
  background-color: rgba(165, 221, 155, 0.9);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}


.brand-label {
  position: absolute;
  top: 0;
  right: 0;
}
