<div class="mt-2" style="min-width: 50%;">

  <div class="d-flex flex-column">
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission Date</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission Type</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission Under</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission In</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission Category</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission By</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Reason for admission</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed w-50">
        <label class="d-flex justify-content-between" for="">
          <strong>Referred By</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed" style="width: 33.4%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Admission Medium</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 33.3%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Medico Legal</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 33.3%;">
        <label class="d-flex justify-content-between" for="">
          <strong>MLC No</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-column form-filed mt-3">
      <label class="d-flex justify-content-between" for="">
        <strong>Provisional Diagnosis</strong>
        <!-- <strong style="color: red;">UHID No: </strong> -->
      </label>
      <div class="d-flex flex-row ">
        <textarea name="" id="" rows="3" class="form-control"></textarea>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed" style="width: 20%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Relative Relation</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 80%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Relative Name</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="d-flex flex-column form-filed mt-3">
      <label class="d-flex justify-content-between" for="">
        <strong>Address</strong>
        <!-- <strong style="color: red;">UHID No: </strong> -->
      </label>
      <div class="d-flex flex-row ">
        <textarea name="" id="" rows="3" class="form-control"></textarea>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed" style="width: 25%;">
        <label for="">
          <strong>City</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 25%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Pincode</strong>
          <!-- <strong style="color: red;">(Yr)</strong> -->
        </label>
        <div class="d-flex flex-row align-items-end">
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 25%;">
        <label class="d-flex justify-content-between" for="">
          <strong>Contact No</strong>
          <!-- <strong style="color: red;">(Kg)</strong> -->
        </label>
        <div class="d-flex flex-row align-items-end">
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 25%;">
        <label for="">
          <strong>WhatsApp No</strong>
        </label>
        <div class="d-flex flex-row ">
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed" style="width: 33.4%;">
        <label for="">
          <strong>Payer</strong>
        </label>
        <div class="d-flex flex-row ">
          <select name="" id="" class="form-select">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 33.3%;">
        <label for="">
          <strong>Bill Class</strong>
        </label>
        <div class="d-flex flex-row ">
          <select name="" id="" class="form-select">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 33.3%;">
        <label for="">
          <strong>Printed By</strong>
        </label>
        <div class="d-flex flex-row ">
          <select name="" id="" class="form-select">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-1 w-100 mt-3">
      <div class="d-flex flex-column form-filed" style="width: 50%;">
        <label for="">
          <strong>Witness</strong>
        </label>
        <div class="d-flex flex-row ">
          <select name="" id="" class="form-select">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column form-filed" style="width: 50%;">
        <label for="">
          <strong>Department</strong>
        </label>
        <div class="d-flex flex-row ">
          <select name="" id="" class="form-select">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row gap-1 w-100 mt-3">
        <div class="d-flex flex-column form-filed" style="width: 70%;">
          <label for="">
            <strong>Notes</strong>
          </label>
          <textarea name="" id="" class="form-control" rows="3"></textarea>
        </div>
        <div class="d-flex flex-column" style="width: 30%;">
          <div class="d-flex flex-column form-filed">
            <label class="d-flex justify-content-between" for="">
              <strong>MRD No.</strong>
              <strong style="color: red;">
                <input type="checkbox">
                Auto
              </strong>
            </label>
            <div class="d-flex flex-row ">
              <input type="date" class="form-control">
            </div>
          </div>
          <button type="button" class="btn btn-success shadow-lg mt-2" disabled>
            Save Admission
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
